<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DllExport" version="1.7.0" targetFramework="net452" />
  <package id="Iced" version="1.5.0" targetFramework="net47" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net452" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net47" />
</packages>